body {
    
}

.container .navbar-brand{
    padding-bottom: 20px;
    padding-top: 8px;
}

ul{
    padding-top: 15px;
}

h2{
margin-top: 50px;
margin-bottom:50px;
}

h3{
margin-top: 50px;
margin-bottom:50px;
}

