@{
    ViewBag.Title = "Acerca de SIFCA";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SIFCA es un sistema de inventario y facturación para cafeterías.</p>
<h4>Desarrollado por: Raúl, Ignacio y Kevin</h4>
