@{
    ViewBag.Title = "Contáctanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad de Costa Rica <br />
    Sede del Pacífico <br />
    <b>2016</b>
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">sifca@example.com</a><br />
    <strong>Ventas:</strong> <a href="mailto:Marketing@example.com">sifca_ventas@example.com</a>
</address>